*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.nav-bar{
    display: flex;
    align-items:baseline;
        justify-content: space-between;
}

.nav-links{
    display: flex;
    /* justify-content: flex-end; */


}
.nav-links li{
    list-style-type: none;
    margin: 5px;
}
.nav-links a{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-size:20px;

  
}
.nav-links a:hover{
    transform: translateY(-2px);
    color: blue;

}
header{
    margin: 0;
   padding: 10px; 
}
.logo{
    display: inline-block;
   font-size: 2rem;
   font-weight: 500;
   color: #0000ff;
}
#main-containers{
   
        background-image: url(" /assects/images/wireless-earbuds-with-neon-cyberpunk-style-lighting.jpg") !important;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh; 
    
}
#brand-name{
     font-size: 3.5em !important;
     font-weight: 600;
     color: #ffff;
     margin-top: 35px;

}
#main-containers p{
    color: #ffff;
    
    text-align: center !important;
   
}
.button{
    border: none !important;
    outline: none !important;
    border-radius: 25px !important;
    background-color: #ffff !important;
    color: blue !important;
    font-size: 20px !important;
}
.button:hover{
    transform: translateY(-4px);

}
.card{
    /* display: flex;
    align-content: center;
    justify-content: center; */
    margin: auto;
    margin-bottom: 20px;
    /* border: 1px solid rgb(143, 143, 145) !important; */
   /* background: linear-gradient(115deg,#eeaf61,rgb(20, 20, 200),rgb(155, 22, 22)); */
   padding: 2px;
    border-radius: 13px !important;
    width:50px;
    height: 450px;
    box-shadow: 2px 4px 14px ;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}
.card img{
    overflow:hidden;
}